body{
	background-color: #EEEFFE;
	font-family: Arial, sans-serif;
}

a{
	text-decoration: none;
	color: #FADE65;
}

h1, h2, h3{
	margin: 0;
}

#container{
	background-color: 3FBFF9;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #65CCFA;
	color: #D7F2FE;
	text-align: center;
	padding: 10px;
}

#content{
	padding: 10px;
}

#nav{
	width: 220px; 
	float: left;
}

#nav ul{
	list-style-type: none;
	padding: 0;
}

#nav .selected {
	font-weight: bold;
}

#main{
	width: 560px;
	float: right;
}

#footer{
	clear: both;
	padding: 10px;
	background-color: #888888;
	color: white;
	text-align: right;
}

